.hdr{
	background-color: white;
	width: 100%;
	z-index: 1;
	position: fixed;
}

.cl:after{
	content: "";
	clear: both;
	display:block;
}

.hdr-inner{
	background-color: white;
	max-width: 1000px;
	margin: 0 auto;
}

.hdr-left{
	width: 60%;
	float: left;
}

.hdr-right{
	background-color: white;
	border: 1px solid black;
	
	border-radius: 5px;
	width: 30%;
	float: right;
	margin-top: 1%;
	font-size: 20px;
}
.buscador {
	display: inline-block;
	margin-top: 5%;
	margin-left: 5%;
}
.buscador-brand {
	display: inline-block;
	float: right;
	border-left: 1px solid black;
	padding-left: 5%;
}
.hdr-brand { display: inline-block; margin-right: 5px; margin-bottom: 5px;}
.hdr-left nav { display:inline-block; }

.carousel{
	margin-left: auto;
	margin-right: auto;
}
	.carousel img { width: 100%;}

.inl-list li {
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	margin-left: 20px;
	margin-top:-50px;
	border-left:1px solid black;

}
.inl-list li:first-child{
	margin-left: 10px;
	border-left:none;
}


.sect1{
	background-color: white;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}
.s1-left{
	float: left;
	background-color: white;
	width: 60%;
}
.s1-right{
	float: right;
	background-color: white;
	width: 30%;
}

.art-media{
	background-color: white;
	margin-bottom: 20px;
}
.alinea li{
	display: inline-block;
}
.li-left{

}
.image-left{
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
.image-right{
	margin-right: 5px;
	margin-bottom: 5px;
	float: right;
}
.h1big{
	font-size: 23px;
}
.aside-news{
	display: inline-block;
	width: 40%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}
.aside-topnews{
	float: left;
}
.aside-topnews ul li{
	border-left: 1px solid black;
	padding-left: 4%;
	margin-left: 1%;
}
.aside-topnews ul li:first-child{
	border-left: none;
	padding-left: none;
	margin-left: none;
}
.art-news{
	background-color: white;
	vertical-align: bottom;
}
.art-box{
	background-color: white;
	margin-bottom: 10px;
	margin-bottom: 22%;
}
.office-li{
	display: block;
}
.opening{
	border-color: black;
	border: 1px solid;
	border-radius: 4px;
	margin-left: 0px;
	display:inline-block;
	margin-top: 3px;

}
.opening:last-child{
	margin-left: -4px;
}

.share li{

	display:inline-block;
}
.art-tabs{
	background-color: white;
	margin-bottom: 22%;

}
.art-tabs div{
	display: inline-block;
}
.art-share{
	background-color: grey;
	margin-top: 10px;
	border-radius: 5px;

}
.visited{
	background-color: grey;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 5px;
}
.vst-inn{
	background-color: grey;
	margin: 10px;
	margin-bottom: 20px;

}
.vst-li{
	width: 30%;
	background-color: grey;
	margin-left: 22px;
	margin-top: 5px;
	display: inline-block;
	margin-bottom: 5px;
}
.porcentaje{
	position: relative;
	margin-left: 8%;
	margin-top: 1%;
	vertical-align: middle;
	display: inline-block;
}
.comentario{
	margin-left: 8%;
}
.box-white{
	height: 12px;
	width:100%;
	margin-left: 14px;
	border-radius: 12px;
	display: inline-block;
	background-color: white;
}
.box-blue{
	height: 100%;
	width:70%;
	border-radius: 12px;
	display: inline-block;
	background-color: blue;
}
.style{

	display:inline-block;
	vertical-align: middle;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.vst-li img{
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}
.next_img{
	display: inline-block;
	width: 60%;
	vertical-align: middle;

}
.footer {
	max-width: 100%;
	background-color: blue;
}
.footer span img {
	float: left;
	vertical-align: middle;
}
.textfoot {
	display: block;
}
/* para q las fotos de visited bajen
   esto es un media_query*/
@media (max-width: 600px){
	.vst-inn li {
		float: none;
		width: 300px;
		margin-bottom: 10px;
	}
}